Support W3C Trace Context headers

See https://github.com/jaegertracing/jaeger/issues/855

@grounded042 Nice to see you back around after your hiking :)

One fun part of the spec is:
> There might be multiple tracestate headers in a single request

Using `ITextMap` like we have before makes this hard as it has a `Set` method that doesn't really allow for multiple keys even though the underlying implementation might. I'm hesitant to not use `ITextMap` and I also don't know what I would use instead. IF the backing for an ITextMap is something like [WebHeaderCollection](https://msdn.microsoft.com/en-us/library/system.net.webheadercollection(v=vs.110).aspx) then I don't think this would be a problem as it looks like C# supports multiple headers with the same name as `WebHeaderCollection` acts similarly to [RFC7230 section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2) in that you can "add" multiple keys but in reality it just adds the value to the end of a comma separated list with that keys name.

In light of that, unless anyone objects, I'm going to work under the assumption that if multiple `tracestate` headers come in, they will be combined into one entry in `ITextMap` and the values will be in one long string separated by commas.

I think this is worth bringing up for the OT API.

Meanwhile, HTTP standard provides another alternative to multiple same-name headers - a single header with concatenated, comma-separated values.

Has work started on this yet? I'm currently looking at using the Jaeger C# client in a ASP.NET Core 3.1 app. Out-of-the-box with a small configuration (1 line), ASP.NET Core 3.0 apps automatically propagate the W3C Trace Context. All the Jaeger client needs to do is collect the spans and send them to the Jaeger agent/collector.

I haven't actually look at any code yet in the Jaeger C# client library yet so I don't know if this is as simple as I think it is. Here's a blog post I found regarding ASP.NET Core and W3C Trace Context.

https://devblogs.microsoft.com/aspnet/improvements-in-net-core-3-0-for-troubleshooting-and-monitoring-distributed-apps/

I'm just really keen to see this feature in the Jaeger client.

Work was started by @grounded042 on https://github.com/jaegertracing/jaeger-client-csharp/tree/w3c-trace-headers but it never got finished AFAIK. Don’t know the current state and am not available until Jan. 7th 2020 myself. 

@hannahchan have you considered using OpenTelemetry client? I don't know if it's prod-ready yet, but it will support TraceContext by default, and will come with Jaeger exporter.

@yurishkuro Yea I've looked at OpenTelemetry. Also looking forward to that project maturing however it doesn't seem to be happening fast. I'll give it another year. It's definitely not production ready. I might have a play with it again later to see if anything has changed.

My apologies on this. I switched jobs soon after I started the work on this and I am no longer doing anything related to dotnet or Jaeger which makes it hard for me to stay on top of things relating to this project. If someone has the time to take this up they are more than welcome to.

Are there any updates on this?

This is up for grabs.

Thanks @yurishkuro, I totally missed the update from @grounded042 since I was a month off in December.